pythonscripts/ner_models/
*.safetensors
pythonscripts/results/
pythonscripts/logs/
pythonscripts/temp_model/
pythonscripts/.ipynb_checkpoints/
/testing/
data/.ipynb_checkpoints
labeled_data/gold_labels/.ipynb_checkpoints